**/*.map
**/*.ts
.vscode/**
documentation/**
!documentation/examples/*
!documentation/images/*
!documentation/documentation.html
images/**/*.gif
out/test/**
src/**
typings/**
test/**
.editorconfig
.gitignore
ISSUE_TEMPLATE.md
tsconfig.json
webpack.config.js
node_modules
!node_modules/formidable
!node_modules/mjml-core
!node_modules/npm
!node_modules/copy-paste
!node_modules/node-mailjet
!node_modules/@babel
!node_modules/juice