**/*.map
**/*.ts
.vscode/**
documentation/**
!documentation/examples/*
!documentation/images/*
!documentation/documentation.html
images/**/*.gif
out/test/**
src/**
typings/**
test/**
.editorconfig
.gitignore
ISSUE_TEMPLATE.md
tsconfig.json
webpack.config.js
node_modules
!node_modules/formidable/lib/file.js
!node_modules/formidable/lib/incoming_form.js
!node_modules/formidable/lib/json_parser.js
!node_modules/formidable/lib/querystring_parser.js
!node_modules/mjml-core/lib/helpers/mjmlconfig.js
!node_modules/mjml-core/lib/index.js
!node_modules/npm/lib/npm.js
!node_modules/npm/node_modules/encoding/lib/iconv-loader.js
!node_modules/copy-paste/index.js
!node_modules/node-mailjet/mailjet-client.js
!node_modules/npm/bin/npm-cli.js